footer{
}
.mainFooter {
	background-color: $primaryColor;
	color: $footerFontColor;
	
	.mainFooterContent{
		display: flex;
		height: 70px;
		justify-content: space-between;
		align-items: center;
		font-size: 13px;
		letter-spacing: 1px;
		font-weight: 300;
        .contentLeft{
		}
		.contentRight{
			display: flex;
			align-items: center;
			.contentRightTitle{
				padding-right: 8px;
			}
           .iconZ{
			   width: 20px;
			   height: 20px;
			   img{
				padding: 0;
			   }
		   }
		}
	}
}


