.conceptsInfo{
        padding-bottom: 30px;
        p{
            padding-top: 25px;
            span{
                color: black;
            }
            a {
                text-decoration: underline;
                color: #777777;
            }
        }
    }
.conceptsInfoTitle{
    text-align: left;
    font-size: 24px;
    color: black;
    padding: 40px 0 0 20px;
    letter-spacing: 1px;
}



